@import "prelude";
@import "css-inline-workaround";
@import "variables-apply";
@import "fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

img {
    display: block;
}

body {
    font-family: $ui-font;
    font-size: var(--font-size-base); // $font-size-ui;
    line-height: $line-height;
    margin: 0;
    color: var(--text-color);
    background: var(--background);
}

label {
    display: block;
    margin: 0;
}

input {
    font-size: $font-size-ui;
    font-family: $ui-font;
    display: inline-block;
    margin: 0;

    &:focus {
        outline: none;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
}

.im {
    font-size: 0.8em;
}

@import "components";

.content {
    background: var(--background);
    order: 1;
    padding: $std-space;
    width: calc(100% - #{$nav-width-xs});
    @include min-screen-tablet {
        width: calc(100% - #{$nav-width});
    }

    @media print {
        width: 100%;
        padding: 0;
    }

    .song-image {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    #chordr {
        min-height: 100vh;
        @if ($song-tools-style == "navbar") {
            margin-top: $song-tools-navbar-height;
        }

        &::after {
            display: block;
            content: "";
            background: var(--tool-bg);
            height: 0.5em;
            margin: 0 (-$std-space) (-$std-space);
        }
    }
}

main.-menu-hidden .content {
    width: calc(100% - #{$nav-collapsed-width});
}
