@use "sass:map";
@use "../variables" as *;
@use "../functions" as *;
@use "responsive" as *;

@mixin debug-screen-breakpoints() {
    body::after {
        position: fixed;
        right: 0;
        top: 0;
        background: rgba(white, 0.4);
        padding: 4px;
        font-size: 12px;
        pointer-events: none;
        font-family: Menlo, monospace;
        opacity: 0.3;
        z-index: 100;

        @each $name, $min in $grid-breakpoints {
            @include screen($name) {
                $max: max-screen($name);

                content: "[#{$min}] < #{$name} > [#{$max}]";
            }
        }
    }
}
