// stylelint-disable declaration-no-important
@use "../variables" as *;

@mixin if-dark-mode {
    @media screen and (prefers-color-scheme: dark) {
        @at-root html:not(.light-mode) & {
            @content;
        }
    }

    @at-root html.dark-mode & {
        @content;
    }
}

@mixin print-hidden {
    @media print {
        display: none !important;
    }
}

/// Mixin for Song detail tools (like transpose and setlist tool)
@mixin song-tool() {
    @if $song-tools-style != "navbar" {
        margin-bottom: $std-half;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin if-hover-enabled {
    @media (hover: hover) and (pointer: fine) {
        @content;
    }
}

/// Hide content visually while keeping it accessible to assistive technologies
///
/// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
/// See: https://kittygiraudel.com/2016/10/13/css-hide-and-seek/
/// See: https://github.com/twbs/bootstrap/blob/6177d5f8497f2c08f9874f5221fd17ce5acd2ad7/scss/mixins/_visually-hidden.scss#L4
@mixin visually-hidden() {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;

    // Fix for positioned table caption that could become anonymous cells
    &:not(caption) {
        position: absolute !important;
    }

    // Fix to prevent overflowing children to become focusable
    * {
        overflow: hidden !important;
    }
}
