@use "prelude" as *;

a[role="button"],
button,
.button {
    @include button;

    &:not(.discreet) {
        @include button-default;
    }

    &.-inline {
        display: inline-block;
        width: auto;
    }

    &.discreet {
        background: transparent;
        border: none;
    }
}

a[role="button"].disabled,
button:disabled,
.button.disabled {
    &:not(.discreet) {
        @include button-disabled;
    }
}

.grid-button {
    height: 100%;
    align-items: center;
    justify-content: center;

    @include button;
    @include button-default;

    a[role="button"],
    button {
        display: flex;
        align-items: center;
        height: 100%;
        color: inherit;
        padding: $button-padding;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}

// If the grid-button is only a container, the padding must be applied to the button/a[role=button] within
div.grid-button {
    padding: 0;
}

.button-group {
    display: flex;
    flex-flow: row;
    gap: $std-space;

    &.-compact {
        gap: 0;

        > button {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: var(--button-border-radius);
                border-bottom-left-radius: var(--button-border-radius);
            }

            &:last-child {
                border-top-right-radius: var(--button-border-radius);
                border-bottom-right-radius: var(--button-border-radius);
            }
        }
    }
}

input + button:last-child {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
}
