@use "prelude" as *;

.center-fullscreen {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    background: var(--background);
    color: var(--text-color);

    > div {
        margin: auto;
    }
}
