@use "sass:list";
@use "prelude" as *;

.clipboard-widget {
    display: flex;
    flex-flow: row nowrap;

    input {
        @include button;

        flex: 1 1 auto;
        background: var(--clipboard-input-bg);
        color: var(--clipboard-input-color);
        border: $button-border;
        border-right: none;
        padding: 0 0 0 list.nth($clipboard-input-padding, 2);
        text-align: center;
        letter-spacing: $clipboard-input-letter-spacing;
        border-radius: 0;
    }

    button {
        flex: 0 0 auto;
    }
}
