@use "sass:math";
@import "prelude";

@mixin build-row() {
    @include clearfix;
    margin: 0 (-$grid-gutter-width * .5);
    display: flex;
    flex-flow: row wrap;
}

@mixin build-columns($grid-columns, $screen: '') {
    @include _build-columns-default($grid-columns, $screen);
    @include _build-columns-width($grid-columns, $screen);
    @include _build-grid($grid-columns, $screen);
}

@mixin _build-columns-default($grid-columns, $screen) {
    $list: "";
    @for $i from 1 through $grid-columns {
        $list: "#{$list}.col-#{$screen}#{$i}";
        @if $i < $grid-columns {
            $list: "#{$list},"
        }
    }

    #{$list} {
        width: 100%;
        padding-left: $grid-gutter-width * .5;
        padding-right: $grid-gutter-width * .5;
    }
}

@mixin _build-grid($grid-columns, $screen) {
    $list: "";
    @for $i from 1 through $grid-columns {
        $list: "#{$list}.col-#{$screen}#{$i}";
        @if $i < $grid-columns {
            $list: "#{$list},"
        }
    }

    .grid {
        #{$list} {
            padding-bottom: $grid-gutter-width;
        }
    }
}

@mixin _build-columns-width($grid-columns, $screen) {
    @for $i from 1 through $grid-columns {
        .col-#{$screen}#{$i} {
            //$width: 100%/$grid-columns * $i;
            //$width: math.div(100%, $grid-columns) * $i;
            $width: 8.33333 * $i;
            max-width: $width;
            flex: 0 0 $width;
        }
    }
}

.row {
    @include build-row();
}

@include build-columns($grid-columns);

@each $screen in map-keys($grid-breakpoints) {
    @include max-screen($screen) {
        @include build-columns($grid-columns, '#{$screen}-');
    }
}

