@use "sass:list";
@use "prelude" as *;

$sort-handle-width: 40px !default;

nav {
    --nav-padding-left: calc(
        var(--nav-padding-horizontal) + var(--nav-left-border-width)
    );
    --nav-inner-width: calc(
        var(--nav-width) - var(--nav-padding-horizontal) - var(
                --nav-padding-left
            )
    );

    background: var(--nav-bg);
    order: 2;
    display: flex;
    flex-flow: column;
    position: fixed;
    z-index: 20;
    gap: var(--nav-spacing);
    right: 0;
    top: 0;
    bottom: 0;
    min-height: -webkit-fill-available;
    width: var(--nav-width);

    @include print-hidden;

    .song-list-container {
        height: calc(100% - #{$nav-button-height});
        transition: transform $std-transition-duration;
        padding: 0 0 0 var(--nav-padding-left);

        &.-touch-hover {
            transform: scale(1.02);
        }
    }

    &.-visible .song-list-container {
        padding: 0 var(--nav-padding-horizontal) 0 var(--nav-padding-left);
    }

    &.-w-notes .song-list-container {
        height: 50%;
    }

    .song-list {
        display: flex;
        flex-flow: column;
        overflow: scroll;
        height: 100%;

        &:focus,
        & > div:focus {
            outline: none;
        }
    }

    .setlist-name + .song-list {
        height: calc(100% - #{$setlist-name-height});
    }

    .song-item {
        @include button(flex);
        @include button-default($padding: 0);

        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: var(--song-item-space);

        &:focus {
            color: var(--button-color);
            background: var(--button-bg);
        }

        &.-separator {
            height: $std-half;
        }

        .sortable-handle,
        a[role="button"] {
            padding: $button-padding;

            @include if-hover-enabled {
                &:focus,
                &:hover {
                    color: var(--button-hover-color);
                }
            }
        }

        &.-highlight {
            color: var(--button-hover-color);
            background: var(--button-hover-bg);
        }

        &.-sortable a[role="button"] {
            width: calc(var(--nav-width) - var(--nav-sort-handle-width));
        }

        .sortable-handle {
            font-family: $ui-font;
            width: $sort-handle-width;
            margin-top: -4px;
            border-left: none;
            cursor: move;
        }
    }

    &.-hidden .song-item {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        a[role="button"] {
            width: var(--nav-inner-width);
            overflow: hidden;
            white-space: nowrap;
            padding: list.nth($button-padding, 1) 0 list.nth($button-padding, 1)
                list.nth($button-padding, 2);
        }
    }

    footer {
        margin-top: auto;
        justify-self: flex-end;
        display: flex;
        order: 200;
        border-top: $nav-footer-border-width solid $nav-footer-border-color;
        flex-flow: column;
        gap: var(--nav-footer-gap, 0);
        padding: 0 var(--nav-padding-horizontal) var(--nav-padding-vertical)
            var(--nav-padding-left);

        @include max-screen-xs {
            .toggle-menu {
                order: 10;
            }
        }

        @include min-screen-tablet {
            flex-flow: row;
        }

        @include if-dark-mode {
            border-top-color: $gray-darker;
        }

        .im {
            vertical-align: middle;
        }

        .im + span {
            margin-left: 0.3em;
        }

        a[role="button"],
        button {
            height: $nav-button-height;

            &:only-child {
                width: 100%;
            }

            > span {
                @include visually-hidden;
            }
        }

        a[role="button"].reload-songs,
        button.reload-songs {
            margin-bottom: 0;

            .im {
                font-size: 1em;
                float: left;
                line-height: 30px;
            }
        }

        a.update {
            .im {
                @at-root {
                    @keyframes rotate-mirrored {
                        from {
                            transform: rotate(0) scaleX(-1);
                        }

                        to {
                            transform: rotate(360deg) scaleX(-1);
                        }
                    }
                }

                transform: scaleX(-1);
                animation: rotate-mirrored 2s ease-in-out;
                height: 14px;
                width: 14px;
                line-height: 17px;
            }
        }
    }

    &.-hidden footer button {
        max-width: 100%;
        width: var(--nav-inner-width);
    }
}
