@use "prelude" as *;
@use "setlist/list";
@use "setlist/sharing";

.setlist-add-button {
    .im {
        margin-right: $std-half;
    }
}

nav .setlist-name {
    color: $gray-medium;
    font-size: $font-size-small;
    text-align: center;
    height: $setlist-name-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // Move the text slightly to the left to visually align it better with the
    // button text
    padding-right: calc(0.25 * var(--nav-sort-handle-width));
}

nav.-hidden .setlist-name {
    width: var(--nav-inner-width);
    padding-left: var(--song-item-space);
    padding-right: 0;
}
