@use "prelude" as *;

.song-tools {
    position: fixed;
    bottom: 0;
    background: var(--tool-bg);
    color: var(--button-color);
    padding: (1 + $std-half) $std-half;
    line-height: $button-line-height;
    font-size: $button-font-size;
    right: var(--nav-width);
    display: flex;
    flex-flow: column;
    gap: $std-half;
    border-top-left-radius: var(--border-radius);
    transition-property: width, right;
    transition-duration: var(--nav-transition-duration);
    transition-timing-function: var(--nav-transition-timing-function);

    @include min-screen-tablet {
        bottom: auto;
        border-top-left-radius: 0;

        @if $song-tools-style == "navbar" {
            flex-flow: row;
            left: 0;
            display: flex;
            justify-content: space-between;
            transition-property: width, right, top;
            top: -($song-tools-navbar-height);

            @at-root html.direction-up #{&} {
                top: 0;
            }

            @at-root html.attached #{&} {
                top: 0;
            }
        } @else {
            top: 0;
            border-bottom-left-radius: var(--border-radius);
        }
    }

    @media print {
        display: none;
    }

    label {
        padding: 0;
        line-height: $button-line-height;
        font-size: $button-font-size;
    }

    input {
        background: transparent;
        border: none;
        // stylelint-disable-next-line property-no-vendor-prefix
        -webkit-appearance: none;
        appearance: none;
        width: 4 * $std-space;
        padding: 0 0 0 $std-half;
        color: var(--button-color);
    }

    a[role="button"].discreet,
    button.discreet {
        $button-size: 30px;

        display: inline-block;
        color: var(--button-color);
        height: $button-size;
        line-height: $button-line-height;
        min-width: $button-size;
        padding-left: var(--button-padding-horizontal);
        padding-right: var(--button-padding-horizontal);

        @include if-hover-enabled {
            &:hover {
                color: var(--button-hover-color);
            }
        }

        &[disabled] {
            color: $gray;
            cursor: not-allowed;
        }

        &.-active {
            background: var(--button-bg);

            @include if-dark-mode {
                background: var(--button-hover-bg);
            }
        }

        &.home {
            padding: 0 $std-half;
            line-height: $button-size;
        }
    }

    .home-tool {
        display: none;

        @if $song-tools-style == "navbar" {
            @include min-screen-tablet {
                display: block;
            }
        }
    }

    @at-root main.-menu-hidden #{&} {
        right: var(--nav-collapsed-width);

        @if $song-tools-style != "navbar" {
            display: none;
        }
    }
}
