@import "prelude";

.song-notes {
    padding: $song-item-space 0;
    width: $nav-width-xs;
    height: calc(50vh - #{3 * $nav-button-height + $nav-footer-border-width});
    @include min-screen-tablet {
        width: $nav-width;
        height: calc(50vh - #{$nav-button-height + $nav-footer-border-width});
    }

    textarea {
        resize: none;
        background: var(--background);
        color: var(--text-color);
        border: $button-border;
        border-radius: 0;
        padding: $std-half;

        font-family: $ui-font;
        font-size: $font-size-web;

        -webkit-appearance: none;
        appearance: none;
        width: $nav-width;
        height: 100%;
        @include if-dark-mode {
            border-color: $gray-ultra-dark;
        }
    }
}

nav.-hidden .song-notes {
    width: $nav-collapsed-width + 2px;
}
