// stylelint-disable property-no-vendor-prefix, scss/operator-no-newline-after
@use "prelude" as *;

.song-notes {
    --nav-padding-left: calc(
        var(--nav-padding-horizontal) + var(--nav-left-border-width)
    );

    padding: var(--song-item-space) var(--nav-padding-horizontal)
        var(--song-item-space) var(--nav-padding-left);
    width: 100%;
    height: calc(50vh - #{3 * $nav-button-height + $nav-footer-border-width});

    @include min-screen-tablet {
        height: calc(50vh - #{$nav-button-height + $nav-footer-border-width});
    }

    textarea {
        resize: none;
        background: var(--background);
        color: var(--text-color);
        border: $button-border;
        border-radius: var(--input-border-radius);
        padding: $std-half;
        font-family: $ui-font;
        font-size: $font-size-web;
        -webkit-appearance: none;
        appearance: none;
        width: calc(
            var(--nav-expanded-width) - 2 *
                var(--nav-padding-horizontal) - var(--nav-left-border-width)
        );
        height: 100%;

        @include if-dark-mode {
            border-color: $gray-ultra-dark;
        }
    }
}

nav.-hidden .song-notes {
    width: $nav-collapsed-width + $nav-left-border-width;
    width: var(--nav-collapsed-width);
}
