@import "variables";

@mixin clearfix() {
    &::before,
    &::after {
        clear: both;
        content: '';
        display: table-cell;
    }
}

@mixin apply-styles($styles) {
    color: map-get($styles, font-color);
    font-weight: map-get($styles, font-weight);
    font-style: map-get($styles, font-style);
    background: map-get($styles, background);
    margin: map-get($styles, margin);
    @include apply-block-styles($styles);
}

@mixin apply-block-styles($styles) {
    $color: map-get($styles, block-color);
    $width: map-get($styles, block-width);
    @if $width > 0 and $color != transparent {
        border-left: $width $color solid;
        @if map-has-key($styles, block-style) {
            border-left-style: map-get($styles, block-style);
        }
        padding: 0 $std-half;
    }
}

@mixin if-dark-mode {
    @media screen and (prefers-color-scheme: dark) {
        @content;
    }
    @at-root html.dark-mode & {
        @content;
    }
}

@mixin print-hidden {
    @media print {
        display: none !important;
    }
}

/// Mixin for Song detail tools (like transpose and setlist tool)
@mixin song-tool() {
    position: fixed;
    // top: 0;
    right: $nav-width;
    background: $gray-light;
    color: $button-color;
    padding: (1+$std-half) 0 (1+$std-half) $std-half;
    line-height: $button-line-height;
    font-size: $button-font-size;

    @media print {
        display: none;
    }

    label {
        padding: 0;
        line-height: $button-line-height;
        font-size: $button-font-size;
    }

    input {
        background: transparent;
        border: none;
        -webkit-appearance: none;
        appearance: none;
        width: 4 * $std-space;
        padding: 0 0 0 $std-half;
        color: $button-color;
    }

    @include if-dark-mode {
        background: $gray-darker;
        color: $dark-mode-button-color;

        input {
            color: $dark-mode-button-color;
        }
    }

    button.discreet {
        display: inline-block;
        color: $button-color;

        &:focus,
        &:hover {
            color: $button-hover-color;
        }

        &[disabled] {
            color: $gray;
            cursor: not-allowed;
        }

        @include if-dark-mode {
            color: $dark-mode-button-color;

            &:focus,
            &:hover {
                color: $dark-mode-button-hover-color;
            }
        }
    }
    @at-root main.-menu-hidden #{&} {
        display: none;
        right: $nav-collapsed-width;
    }
}
