$std-space: 14px !default;
$std-half: $std-space / 2 !default;

$font: "Libre Baskerville", "Times", "Times New Roman", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji !default;
$font-size-web: 16px !default;
$font-size-print: 10px !default;
$font-size-h1: 1.8em !default;
$font-size-h2: 1em !default;
$font-size-h3: 1em !default;
$line-height: 1.3em !default;

$chord-color: #239b32 !default;
$chord-weight: bold !default;

$blockquote-background: transparent !default;
$blockquote-weight: bold !default;
$blockquote-block-width: 10px !default;
$blockquote-block-color: #777 !default;
