@import "prelude";
@import "fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: $ui-font;
    font-size: $font-size-web;
    line-height: $line-height;
    letter-spacing: 0.05em;
    margin: 0;
    color: $text-color;

    @include if-dark-mode {
        background: $dark-mode-background;
        color: $text-color-dark-mode;
    }
}

label {
    display: block;
    margin: 0;
}

input {
    font-size: $font-size-web;
    font: $ui-font;
    display: inline-block;
    margin: 0;

    &:focus {
        outline: none;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
}

.im {
    font-size: .8em;
}

@import "components/misc";
@import "components/grid";
@import "components/link";
@import "components/button";
@import "components/start-screen";
@import "components/song-browser";
@import "components/transpose-tool";
@import "components/nav-bar";

.content {
    background: $background;
    order: 1;
    width: calc(100% - #{$nav-width});
    padding: $std-space;
    @include if-dark-mode {
        background: $dark-mode-background;
    }
    @media print {
        width: 100%;
        padding: 0;
    }

    .song-image {
        height: auto;
        width: auto;
        max-width: 100%;
    }
}

main.-menu-hidden .content {
    width: calc(100% - #{$nav-collapsed-width});
}
