@page {
  size: auto; }

#chordr {
  font-family: "Libre Baskerville", "Times", "Times New Roman", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.05em; }
  @media screen and (prefers-color-scheme: dark) {
    #chordr {
      background: #221d1c;
      color: white; } }
  html.dark-mode #chordr {
    background: #221d1c;
    color: white; }
  @media print {
    #chordr {
      font-size: 12px; } }
  #chordr *,
  #chordr *::before,
  #chordr *::after {
    box-sizing: border-box;
    margin: 0; }
  #chordr main {
    padding: 14px; }
    @media print {
      #chordr main {
        padding: 0; } }
  #chordr h1,
  #chordr h2,
  #chordr h3 {
    line-height: 1.3em; }
  #chordr h1 {
    font-size: 1.8em;
    margin-bottom: 14px; }
  #chordr h2 {
    font-size: 1em;
    margin-bottom: 3.5px; }
  #chordr h3 {
    font-size: 1em; }
  #chordr span {
    display: inline;
    white-space: pre; }
  #chordr table {
    padding: 0;
    border-collapse: collapse; }
    #chordr table th,
    #chordr table td {
      padding: 0;
      vertical-align: bottom; }
  #chordr .chordr-line {
    padding-top: 1.3em;
    display: block; }
  #chordr .chordr-chord {
    color: #239b32;
    font-weight: bold;
    font-style: normal;
    background: transparent;
    margin: 0 1em 0 0; }
    @media screen and (prefers-color-scheme: dark) {
      #chordr .chordr-chord {
        color: #239b32;
        font-weight: bold;
        font-style: normal;
        background: transparent;
        margin: 0 1em 0 0; } }
    html.dark-mode #chordr .chordr-chord {
      color: #239b32;
      font-weight: bold;
      font-style: normal;
      background: transparent;
      margin: 0 1em 0 0; }
  #chordr .text-row {
    white-space: pre; }
  #chordr .col {
    float: left; }
  #chordr blockquote {
    margin: 7px 0;
    color: #221d1c;
    font-weight: bold;
    font-style: normal;
    background: transparent;
    border-left: 0.3em #8d8d88 solid;
    padding: 0 7px; }
    @media screen and (prefers-color-scheme: dark) {
      #chordr blockquote {
        color: white;
        font-weight: bold;
        font-style: normal;
        background: transparent;
        border-left: 0.3em #8d8d88 solid;
        padding: 0 7px; } }
    html.dark-mode #chordr blockquote {
      color: white;
      font-weight: bold;
      font-style: normal;
      background: transparent;
      border-left: 0.3em #8d8d88 solid;
      padding: 0 7px; }
  #chordr section {
    margin: 14px 0;
    page-break-inside: avoid; }
    #chordr section::after {
      display: block;
      content: "";
      width: 200px;
      border-bottom: 1px solid #a8a8a2;
      position: absolute;
      margin-top: -1px; }
    @media screen and (prefers-color-scheme: dark) {
      #chordr section {
        border-bottom-color: #a8a8a2; } }
    html.dark-mode #chordr section {
      border-bottom-color: #a8a8a2; }
    #chordr section:first-child {
      margin-top: 0; }
    #chordr section.chorus {
      color: #221d1c;
      font-weight: normal;
      font-style: normal;
      background: transparent;
      border-left: 0.3em #239b32 solid;
      padding: 0 7px; }
      @media screen and (prefers-color-scheme: dark) {
        #chordr section.chorus {
          color: white;
          font-weight: normal;
          font-style: normal;
          background: transparent;
          border-left: 0.3em #239b32 solid;
          padding: 0 7px; } }
      html.dark-mode #chordr section.chorus {
        color: white;
        font-weight: normal;
        font-style: normal;
        background: transparent;
        border-left: 0.3em #239b32 solid;
        padding: 0 7px; }
    #chordr section.bridge {
      color: #221d1c;
      font-weight: normal;
      font-style: normal;
      background: transparent;
      border-left: 0.3em #17541e solid;
      padding: 0 7px; }
      @media screen and (prefers-color-scheme: dark) {
        #chordr section.bridge {
          color: white;
          font-weight: normal;
          font-style: normal;
          background: transparent;
          border-left: 0.3em #17541e solid;
          padding: 0 7px; } }
      html.dark-mode #chordr section.bridge {
        color: white;
        font-weight: normal;
        font-style: normal;
        background: transparent;
        border-left: 0.3em #17541e solid;
        padding: 0 7px; }
  #chordr hr {
    clear: both;
    border: none; }

/*# sourceMappingURL=chordr-default-styles.css.map */