@import "variables";

#chordr {
    font-family: $font;
    font-size: $font-size-web;
    line-height: $line-height;
    letter-spacing: 0.05em;

    @media print {
        font-size: $font-size-print;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }

    main {
        padding: $std-space;

        @media print {
            padding: 0;
        }
    }

    h1,
    h2,
    h3 {
        line-height: 1.3em;
    }

    h1 {
        font-size: $font-size-h1;
        margin-bottom: $std-space;
    }

    h2 {
        font-size: $font-size-h2;
        margin-bottom: $std-half/2;
    }

    h3 {
        font-size: $font-size-h3;
    }

    span {
        display: inline;
        white-space: pre;
    }

    table {
        //border: 1px solid red;
        padding: 0;
        border-collapse: collapse;

        th,
        td {
            padding: 0;
            vertical-align: bottom;
        }
    }

    .chordr-line {
        padding-top: $line-height;
        display: block;
    }

    .chordr-chord {
        color: $chord-color;
        font-weight: $chord-weight;
        margin-right: .3em;
    }

    .text-row {
        white-space: pre;
    }

    .col {
        float: left;
    }

    blockquote {
        margin: $std-half 0;
        padding: 0 $std-half;
        font-weight: $blockquote-weight;
        background: $blockquote-background;
        border-left: $blockquote-block-width $blockquote-block-color solid;
    }

    section {
        //padding: 1rem 0;
        margin: $std-space 0;

        &:first-child {
            margin-top: 0;
        }
    }

    hr {
        clear: both;
        border: none;
    }
}
