@import "prelude";

a[role=button],
button,
.button {
    @extend %button;

    &:not(.discreet) {
        @extend %button-default;
    }

    &.-inline {
        display: inline-block;
        width: auto;
    }

    &.discreet {
        background: transparent;
        border: none;
    }
}

.grid-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %button;
    @extend %button-default;

    a[role=button],
    button {

        display: flex;
        align-items: center;
        justify-content: center;

        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}

.button-group {
    display: flex;
    flex-flow: row;
    margin-left: -$std-half;
    margin-right: -$std-half;

    > button {
        margin-left: $std-half;
        margin-right: $std-half;
    }
}
