@import "prelude";

%button {
    display: block;
    appearance: none;
    line-height: $button-line-height;
    font-size: $button-font-size;
    border: $button-border;
    font-family: $ui-font;
    text-decoration: none;

    &:focus,
    &:hover {
        outline: none;
    }
}

%button-default {
    background: $button-bg;
    color: $button-color;
    width: 100%;
    padding: $button-padding;
    text-align: center;
    letter-spacing: $button-letter-spacing;
    cursor: pointer;

    &:focus,
    &:hover {
        color: $button-hover-color;
        background: $button-hover-bg;
    }

    @include if-dark-mode {
        background: $dark-mode-button-bg;
        color: $dark-mode-button-color;

        &:focus,
        &:hover {
            color: $dark-mode-button-hover-color;
            background: $dark-mode-button-hover-bg;
        }
    }
}

a[role=button],
button,
.button {
    @extend %button;

    &:not(.discreet) {
        @extend %button-default;
    }

    &.-inline {
        display: inline-block;
        width: auto;
    }

    &.discreet {
        background: transparent;
        border: none;
    }
}

.grid-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %button;
    @extend %button-default;

    a[role=button],
    button {

        display: flex;
        align-items: center;
        justify-content: center;

        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}

.button-group {
    display: flex;
    flex-flow: row;
    margin-left: -$std-half;
    margin-right: -$std-half;

    > button {
        margin-left: $std-half;
        margin-right: $std-half;
    }
}
