@import "prelude";

a {
    color: var(--link-color);
    text-decoration: none;

    &:focus,
    &:hover {
        color: var(--link-color-hover);
        outline: none;
    }

    //@include if-dark-mode {
    //    color: $dark-mode-link-color;
    //
    //    &:focus,
    //    &:hover {
    //        color: $dark-mode-link-hover-color;
    //    }
    //}
}

.back-link {
    display: inline-block;
    margin-top: $std-space;
}
