@import "prelude";

$sort-handle-width: 40px !default;
nav {
    background: var(--nav-bg);
    order: 2;
    display: flex;
    flex-flow: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 2px;
    @include print-hidden;
    //@include if-dark-mode {
    //    background: $dark-mode-nav-bg;
    //}

    &.-hidden {
        //width: $nav-collapsed-width + 2px; // from padding
    }

    &.-visible {
        width: $nav-width-xs;
        @include min-screen-tablet {
            width: $nav-width;
        }
    }

    .song-list {
        display: flex;
        flex-flow: column;
        overflow: scroll;
        height: 50vh;

        &:focus,
        & > div:focus {
            outline: none;
        }

    }

    .song-item {
        @include button(flex);
        @include button-default($padding: 0);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 2px;

        &:focus {
            color: var(--button-color);
            background: var(--button-bg);
        }

        //@include if-dark-mode {
        //    &:focus {
        //        color: $dark-mode-button-color;
        //        background: $dark-mode-button-bg;
        //    }
        //}

        &.-separator {
            height: $std-half;
        }

        .sortable-handle,
        a[role=button] {
            padding: $button-padding;

            &:focus,
            &:hover {
                color: var(--button-hover-color);
                //@include if-dark-mode {
                //    color: $dark-mode-button-hover-color;
                //}
            }
        }

        &.-highlight {
            color: var(--button-hover-color);
            background: var(--button-hover-bg);
            //@include if-dark-mode {
            //    color: $dark-mode-button-hover-color;
            //    background: $dark-mode-button-hover-bg;
            //}
        }

        &.-sortable a[role=button] {
            width: $nav-width-xs - $sort-handle-width;
            @include min-screen-tablet {
                width: $nav-width - $sort-handle-width;
            }
        }

        .sortable-handle {
            font-family: $ui-font;
            width: $sort-handle-width;
            margin-top: -4px;
            border-left: none;
            cursor: move;
            cursor: -webkit-grabbing;
        }
    }

    &.-hidden {
        .song-item a[role=button] {
            width: $nav-collapsed-width;
            overflow: hidden;
            white-space: nowrap;
            padding: nth($button-padding, 1);
        }
    }

    a[role=button]:not(.discreet):focus,
    a[role=button]:not(.discreet):hover,
    button:not(.discreet):focus,
    button:not(.discreet):hover {
    }

    footer {
        margin-top: auto;
        justify-self: flex-end;
        display: flex;
        order: 200;
        border-top: $nav-footer-border-width solid $nav-footer-border-color;
        flex-flow: column;
        @include max-screen-xs {
            .toggle-menu {
                order: 10;
            }
        }

        @include min-screen-tablet {
            flex-flow: row;
        }

        @include if-dark-mode {
            border-top-color: $gray-darker;
        }

        .im {
            vertical-align: middle;
        }

        .im + span {
            margin-left: .3em;
        }

        a[role=button],
        button {
            float: left;
            width: 50%;
            margin-bottom: 0;
            height: $nav-button-height;

            &:only-child {
                width: 100%;
            }
        }

        a[role=button].reload-songs,
        button.reload-songs {
            margin-bottom: 0;

            .im {
                font-size: 1em;
                float: left;
                line-height: 30px;
            }
        }
    }

    &.-hidden footer button {
        max-width: 100%;
        width: $nav-collapsed-width;
    }
}
