@import "prelude";

nav {
    background: $nav-bg;
    order: 2;
    display: flex;
    flex-flow: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    padding-left: 2px;
    @include print-hidden;
    @include if-dark-mode {
        background: $dark-mode-nav-bg;
    }

    &.-hidden {
        //width: $nav-collapsed-width + 2px; // from padding
    }

    &.-visible {
        width: $nav-width;
    }

    .song-list {
        display: flex;
        flex-flow: column;
        overflow: scroll;
        height: calc(100vh - #{$nav-button-height + $nav-footer-border-width});
    }

    a[role=button],
    button {
        margin-bottom: 2px;
    }

    .song-item {
        &.-separator {
            height: $std-half;
        }

        &.draggable-mirror {
            width: $nav-width;
        }
    }

    &.-hidden {
        a[role=button].song-item {
            width: $nav-collapsed-width;
            overflow: hidden;
            white-space: nowrap;
            padding: nth($button-padding, 1);
        }
    }

    a[role=button]:not(.discreet):focus,
    a[role=button]:not(.discreet):hover,
    button:not(.discreet):focus,
    button:not(.discreet):hover {
    }

    footer {
        margin-top: auto;
        justify-self: flex-end;
        display: flex;
        order: 200;
        border-top: $nav-footer-border-width solid $nav-footer-border-color;
        @include if-dark-mode {
            border-top-color: $gray-darker;
        }

        .im {
            vertical-align: middle;
        }

        .im + span {
            margin-left: .3em;
        }

        a[role=button],
        button {
            float: left;
            width: 50%;
            margin-bottom: 0;
            height: $nav-button-height;

            &:only-child {
                width: 100%;
            }
        }

        a[role=button].reload-songs,
        button.reload-songs {
            margin-bottom: 0;

            .im {
                font-size: 1em;
                float: left;
                line-height: 30px;
            }
        }
    }

    &.-hidden footer button {
        max-width: 100%;
        width: $nav-collapsed-width;
    }
}
