@import "prelude";

.song-notes {
    textarea {
        resize: none;
        background: transparent;
        border: $button-border;
        border-radius: 0;
        padding: $std-half;

        font-family: $ui-font;
        font-size: $font-size-web;

        -webkit-appearance: none;
        appearance: none;
        width: $nav-width-xs;
        height: calc(50vh - #{3 * $nav-button-height + $nav-footer-border-width});
        @include min-screen-tablet {
            width: $nav-width;
            height: calc(50vh - #{$nav-button-height + $nav-footer-border-width});
        }
        @include if-dark-mode {
            border-color: $gray-ultra-dark;
        }
    }
}

nav.-hidden .song-notes {
    width: $nav-collapsed-width + 2px;
}
