@import "prelude";

$song-search-line-height: $button-line-height !default;
$song-search-padding: $button-padding !default;
$song-search-border: $button-border !default;
$dark-mode-song-search-color: $dark-mode-button-color !default;
.song-search-home {
    display: inline-block;
    margin-right: $std-half;
}

.song-search-song-list {
    input[type=text],
    input[type=search],
    .song-item {
        margin-bottom: 2px;
    }

    input[type=text],
    input[type=search] {
        line-height: $song-search-line-height;
        padding: $song-search-padding;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: $song-search-border;
        width: 100%;
        border-radius: 0;
        background: transparent;

        @include if-dark-mode {
            color: $dark-mode-song-search-color;
        }
    }
}
