@import "prelude";

.start-screen {
    display: flex;
    width: 100%;
    height: calc(50vh - #{2 * $std-space});
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        width: 256px;
        margin: 0 auto;
    }
}
