@import "prelude";

.start-screen {
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        width: 200px;
        margin: 0 auto;
    }
}

.reload-section {
    display: flex;
    flex-flow: row;
}

.reload-button,
.reload-section-version {
    display: inline-block;
    line-height: 40px;
}

.reload-button-container {
    flex: 1 0 75%;
}

.reload-section-version {
    color: $gray;
    font-size: $font-size-small;
}
