@import "prelude";

.transpose-tool {
    @include song-tool;
    top: 0;

    .value {
        padding: 0 $std-half;
        display: inline-block;
        min-width: 42px;
        text-align: center;
    }
}
